custom_inference_graph/
custom_inference_graph/*
models_ZOO/
models_ZOO/*
TEMP_DID_NOT_CHANGE_NUM_CLASSES/
TEMP_DID_NOT_CHANGE_NUM_CLASSES/*

test_images/*
test_images_200_switch/
test_images_200_switch/*
test_images_results
test_images_results/*

training_process
training_process/*

video/
video/*

