faster_rcnn_inception_resnet_v2_atrous_lowproposals_oid_2018_01_28.tar.gz
faster_rcnn_inception_resnet_v2_atrous_lowproposals_oid_2018_01_28/
faster_rcnn_inception_resnet_v2_atrous_oid_2018_01_28.tar.gz
faster_rcnn_inception_resnet_v2_atrous_oid_v4_2018_12_12.tar.gz
faster_rcnn_inception_resnet_v2_atrous_oid_v4_2018_12_12/
faster_rcnn_inception_v2_coco_2018_01_28/
results/
ssd_mobilenet_v1_coco_11_06_2017.tar.gz
ssd_mobilenet_v1_coco_11_06_2017/
ssd_mobilenet_v1_coco_2017_11_17.tar.gz
ssd_mobilenet_v1_coco_2017_11_17/
ssd_mobilenet_v2_oid_v4_2018_12_12.tar.gz
ssd_mobilenet_v2_oid_v4_2018_12_12/
saved_variable/
images
images/train
images/test
images/train/*
images/test/*
test_images_results
test_images_results/*
training/00a/
training/00a/*
training/02/
training/02/*
training/03/
training/03/*
training/04/
training/04/*


ssd_mobilenet_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03*
faster_rcnn_resnet50_lowproposals_coco_2018_01_28*
*.mp4

